.container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #c4c4c4;
  z-index: 2;
  .menuItemWrapper {
    padding: 4px;
    border-bottom: 1px solid #c4c4c4;
    text-transform: uppercase;
    transition: 0.3s;
    display: grid;
    place-items: center;
    &:hover {
      background: #c4c4c4;
      transition: 0.3s;
      cursor: pointer;
    }
    &.active {
      background: #c4c4c4;
    }
    &:last-child {
      border-bottom: unset;
    }
    .name {
      font-size: 10px;
    }
  }
}