.container {
  position: absolute;
  bottom: 136px;
  right: 120px;
  border: 1px solid var(--selectedColor);
  border-radius: 4px;
  .itemWrapper {
    padding: 16px;
    border-bottom: 1px solid var(--selectedColor);
    transition: 0.3s;
    background-color: hsla(
      var(--hue),
      var(--saturation),
      var(--lightness),
      0.2
    );
    &:hover {
      transition: 0.3s;
      cursor: pointer;
      background: #c4c4c4;
    }
    &.active {
      background: #c4c4c4;
    }
    &:last-child {
      border-bottom: unset;
    }
    .item {
      width: 100px;
      border-radius: 2.5px;
    }
  }
}
